<footer>
    <div class="footercontainer">
        <div class="col-md-3 col-lg-3 ">
            <div class=" box p-4 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="icon-paper-plane"></span>
                </div>
                <p><a href="mailto:contact@algoscope.fr">ismail.azdad@gmail.com</a></p>
            </div>
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="align-self-stretch box p-4 text-center bg-light">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="icon-globe"></span>
                </div>
                <p><a href="http://ismail.azdad.free.fr/" target="_blank">site web</a></p>
            </div>
        </div>

        <div class="col-md-3 col-lg-3 ">
            <div class="align-self-stretch box p-4 text-center bg-light">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="icon-linkedin"></span>
                </div>
                <p><a href="https://www.linkedin.com/in/ismail-azdad-1995566/" target="_blank"><span
                        class="oi oi-link-intact"></span>Follow me</a></p>
            </div>
        </div>
    </div>

</footer>