<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='styles/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='styles/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='styles/fileinput.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='styles/icomoon.css') }}" rel="stylesheet">
</head>
{% include "header.html" %}
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-11 main-section">
            <h1 class="text-center text-primary"> stackoverflow questions taging generator </h1><br>
            <form id="test"  onsubmit="sendForm(this.id);return false" method="post">
                <div class="form-group">
                    <textarea id="question" name="question" ></textarea>
                </div>
                <button id="id1" >button 1</button>
            </form>

        </div>
    </div>
</div>
</div>
{% include "footer.html" %}
<script src="{{ url_for('static',filename='javascript/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='javascript/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='javascript/fileinput.js') }}" type="text/javascript"></script>
<script>

    //$(document).ready(function () {
        function sendForm(form_id){
            console.log('passge function ajax');
            var form = $('#'+form_id);
            $.ajax({
                type: 'POST',
                url: '/tagGenerators',
                data: $(form).serialize(),
                success: function(result) {
                    console.log(result)
                }
            });
        }

    //});
</script>

</body>
</html>